<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>postnummeruppror.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D75987261FEFE3DA00A87012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D759873D1FEFE3DB00A87012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D75987481FEFE3DB00A87012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
